.md-content__button {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 48px;
  width: 100%;
  margin-top: 128px;
}

.hero > div:last-child {
  border-radius: 12px;
  box-shadow: var(--md-shadow-z3);
  overflow: hidden;
}

.hero > div:last-child img {
  transform: scale(1.3);
  transform-origin: top left;
}

.hero h1 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 3rem;
  color: var(--md-primary-fg-color);
}

section.home {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 6rem;
}

.bento {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
}

.bento article {
  border: 1px solid #ebebeb;
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 9px 2px #6363630d inset;
}

[data-md-color-scheme="slate"] .bento article {
  border: 1px solid rgb(54 54 54);
  background-color: hsl(225 17% 9% / 1);
  box-shadow: 0 0 9px 2px rgb(0 0 0 / 43%) inset;
}

.bento article.large {
  display: flex;
  gap: 16px;
  grid-column: span 2 / span 1;
}

.bento article.large > div:first-child {
  flex: 1;
  min-width: 200px;
}

.bento article.large img {
  margin: -1rem -1rem -1rem 0;
  object-fit: cover;
  object-position: left;
}

.bento article i {
  display: block;
  font-size: 2rem;
  font-style: normal;
}

.bento article h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.bento article p {
  margin: 0;
}

.bento article .api-endpoint {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 12px;
  font-family: monospace;
  align-self: center;
  border: 1px solid var(--md-primary-fg-color);
  background-color: hsl(225 17% 9% / 1);
  box-shadow: 0 0 7px 1px var(--md-primary-fg-color--dark) inset;
}

.bento article .api-endpoint span:first-child {
  font-weight: 600;
  border-right: 1px solid var(--md-default-bg-color);
  padding-right: 0.5rem;
}
