---
title: "Pipeline @@{{ pipeline_name }} @@{{ pipeline_status }}"
preheader: "Your pipeline @@{{ pipeline_name }} @@{{ pipeline_status }}!"
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <table class="w-full mt-12">
            <tr>
              <td
                class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm"
              >
                <h1
                  class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold"
                >
                  Hello,
                </h1>

                <p class="m-0 leading-6">
                  Your pipeline @{{ pipeline_name }} @{{ pipeline_status }}!
                </p>

                <x-spacer height="24px" />

                <x-button href="@{{ pipeline_run_url }}">
                  See run details &rarr;
                </x-button>

                <x-divider space-y="32px" class="bg-slate-200" />

                <p class="m-0 text-sm text-slate-400">
                  <em>
                    If you don't want to receive these emails, change the
                    notifications settings in your plombery.config.yml file.
                  </em>
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <p class="m-0 mb-2">Powered by Plombery</p>

                <p class="m-0 italic">
                  Python task scheduler with a user-friendly web UI
                </p>

                <p class="cursor-default">
                  <a
                    href="https://lucafaggianelli.github.io/plombery/?utm_source=notifications&utm_medium=email&utm_campaign=pipeline_notifications"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Docs</a
                  >
                  &bull;
                  <a
                    href="https://github.com/lucafaggianelli/plombery??utm_source=notifications&utm_medium=email&utm_campaign=pipeline_notifications"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Github</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
