# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:
  
permissions:
  contents: read
  packages: write

jobs:
  deploy:

    runs-on: ubuntu-latest
    permissions:
      # this permission is mandatory for PyPI trusted publishing
      id-token: write

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - uses: actions/setup-node@v3
      with:
        cache-dependency-path: frontend/yarn.lock
        node-version: 18
        cache: 'yarn'

    - name: Install frontend dependencies
      working-directory: frontend
      run: yarn

    - name: Build frontend
      working-directory: frontend
      run: yarn build

    - name: Install py dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python -m build

    # - name: Publish package
    #   uses: pypa/gh-action-pypi-publish@release/v1

    - name: Publish package
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install twine
        python -m twine upload --repository-url https://api.github.com/orgs/${{ github.repository_owner }}/packages/pypi/upload dist/*

